click
cssselect
freezegun
git+https://github.com/aajarven/habitica-helper.git#egg=habitica-helper
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
lxml
mock
mysql-connector-python
pytest
pytest-mock
pyyaml
requests
requests_mock
schedule
surrogate
testing.mysqld
yfinance
