click
cssselect
git+git://github.com/aajarven/habitica-helper.git#egg=habitica-helper
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
mysql-connector-python
pyyaml
requests
schedule
yfinance
